/* #F9EEC9 #D3B786 #886839 #AF672D #E4B455 #770D15 #B4000F #58483A #90A74C #597718 */

body {
    background-color: #58483A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.font-default {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome-message {
    color: #E4B455;
    font-size: 3rem;
}

.content {
    border-radius: 8px;
    padding: 20px 30px;
    background-color: #E4B455;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    background-color: #AF672D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
}

.title > img {
    width: 3rem;
    height: 3rem;
}

.title > h2 {
    margin: 0.5rem;
    color: #F9EEC9
}

.build-pizza {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.build-pizza > button {
    width: 100%;
    font-size: 20px;
    padding: 0.5rem 0;
    border-radius: 5px;
    border-color: #90A74C;
    background-color: #90A74C;
    color: white;
}

.build-sabor {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.build-sabor > label {
    flex: 0.28;
    text-align: center;
    font-size: 20px;
    background-color: #597718;
    color: #F9EEC9;
    padding: 0.5rem 0;
    border-radius: 5px 0 0 5px;
}

.build-sabor > input {
    flex: 0.72;
    font-size: 20px;
    padding: 0.5rem;
    border: 2px solid #AF672D;
    border-radius: 0 5px 5px 0;
}

.build-ingredientes {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.build-ingredientes > select {
    flex: 0.65;
    font-size: 20px;
    padding: 0.5rem;
    border-width: 1.5px 0 1.5px 0;
    border-color: #AF672D;
}

.build-ingredientes > button {
    flex: 0.05;
    font-size: 25px;
    padding: 0.32rem 1rem;
    background-color: #90A74C;
    color: white;
    border-color: #AF672D;
    border-radius: 0 5px 5px 0;
    border-width: 2px;
    border-left-width: 0px;
}

.build-ingredientes > label {
    flex: 0.3;
    text-align: center;
    font-size: 20px;
    background-color: #597718;
    color: #F9EEC9;
    padding: 0.5rem 0;
    border-radius: 5px 0 0 5px;
}